# GENERAL IGNORE
extra/
*.docx
*.png
*.txt
*.pdf
*.asv

# PARTICULAR IGNORE
# These are files in progress or deleted. They are not totally finished.
appliances.m
costs.m
dat2homer.m
importfile.m
objective.m
optGCHPS.m
optSAHPS.m
reliability.m
prices.m
test_optimize_SAHPS.m
test_optimize_GCHPS.m
data/price.mat      
        
        
        
        
        
        
        
